* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F7F5;
}

a {
    text-decoration: none;
    color: black;
}
    	.grid {
    	    margin-left: 16px;
    	}
    
    	.icontitle {
    	    font-family: sans-serif;
    	    font-weight: 300;
    	}